* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
}

@media (min-width: 756px) and (max-width: 992px) {
  #header-bottom {
    padding: 35px 0;
  }
  #header-bottom #header-right nav {
    display: flex;
    justify-content: flex-end;
    gap: 35px !important;
  }
  #header-bottom #header-right a {
    font-size: 12px;
  }
}
@media (max-width: 756px) {
  #header-right nav {
    display: none !important;
  }
  #header-right .mobil_menu {
    display: block !important;
  }
  #header-right .mobil_menu div {
    display: flex;
    justify-content: flex-end;
  }
  #header-right .mobil_menu div i {
    display: flex;
    justify-content: flex-end;
  }
}
* {
  font-family: "Nunito", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.back-h, #contact_us .all-content .global-h::before, #posts .all-content .global-h::before, #our_customers .global-h::before, #package .global-h::before, #gallery .global-h::before, #offer .global-h::before, #most_popular .global-h::before {
  position: absolute;
  left: 50%;
  top: -22px;
  font-size: 73px;
  z-index: -1;
  color: #efefef;
  transform: translateX(-50%);
  font-weight: 800;
}

.all-content {
  margin-bottom: 60px;
  text-align: center;
}
.all-content .global-h {
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 0px;
  color: #6168FF;
  position: relative;
}
.all-content .global-p {
  font-size: 27px;
  margin-bottom: 0;
  line-height: 38px;
  color: #333;
  z-index: 1;
}

.all-title-h {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
}

.all-title-p {
  color: #7f7f7f;
  line-height: 28px;
  font-size: 15px;
  font-weight: 200;
  font-family: "Nunito", sans-serif;
}
.all-title-p i {
  color: #7f7f7f;
}

.all-button, #footer input[type=submit], #contact_us .contact input[type=submit] {
  background-color: #6168FF;
  border: 2px solid #6168FF;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  padding: 13px 30px;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}
.all-button:hover, #footer input[type=submit]:hover, #contact_us .contact input[type=submit]:hover {
  background-color: #212a42;
  color: #fff;
  border-color: #212a42;
}

#header-top {
  background-color: #262626;
  padding: 12px 16px;
  width: 100%;
  height: auto;
}
#header-top img {
  width: 150px;
  color: red;
}
#header-top .top-button {
  display: flex;
  justify-content: flex-end;
}
#header-top .top-button a {
  display: inline-block;
  text-decoration: none;
  background-color: #82b440;
  color: white;
  width: 95px;
  height: 32px;
  border-radius: 6px;
  text-align: center;
  padding-top: 2px;
}

#header-bottom {
  background-color: #fff;
  padding: 25px 0;
  width: 100%;
  height: auto;
}
#header-bottom img {
  width: 150px;
}
#header-bottom a {
  text-decoration: none;
  color: #383838;
  font-size: 17px;
  font-weight: 600;
}
#header-bottom #header-right nav {
  display: flex;
  justify-content: flex-end;
  gap: 45px;
}
#header-bottom #header-right nav a {
  font-weight: 700;
}
#header-bottom #header-right .mobil_menu {
  display: none;
}
#header-bottom #header-right .mobil_menu div i {
  color: #6168ff;
  font-size: 23px;
}

#carousel {
  z-index: -1;
  background-image: url(https://getmasum.com/html-preview/nour/assets/img/slider/1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 105vh;
  position: relative;
}
#carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}
#carousel .carousel-content {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 185px;
  transform: translate(-50%, -50%);
  text-align: center;
}
#carousel .carousel-content p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 17px;
  font-family: "Nunito", sans-serif;
}
#carousel .carousel-content h1 {
  color: #fff;
  font-size: 55px;
  margin-bottom: 50px;
  line-height: 1.4;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

#travel_about {
  padding: 130px 0;
}
#travel_about .box img {
  width: 55px;
  margin-bottom: 20px;
  z-index: -1;
}
#travel_about .box h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
#travel_about .box p {
  line-height: 24px;
  font-size: 15px;
  font-weight: 200;
  font-family: "Nunito", sans-serif;
}
#travel_about #image {
  position: relative;
  box-shadow: 18px 18px 26px 0 rgba(0, 1, 1, 0.2);
}
#travel_about #image img {
  width: 100%;
  position: relative;
}
#travel_about #image a {
  background-color: #6168ff;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#travel_about #image a:hover {
  background-color: #212a42;
  color: #fff;
  transition: 1s;
}
#travel_about #image a i {
  color: white;
  padding: 25px;
  font-size: 35px;
}

#most_popular {
  padding-bottom: 100px;
}
#most_popular .travel_box {
  border: 1px solid #ebe6de;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}
#most_popular .global-h::before {
  content: "DESTINATIONS";
}
#most_popular .travel_image {
  position: relative;
}
#most_popular .travel_image a img {
  width: 100%;
}
#most_popular .travel_image .travel_content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 20px 30px;
}
#most_popular .travel_image .travel_content .price span {
  font-size: 16px;
  font-weight: 600;
  color: #7f7f7f;
}

#offer .global-h::before {
  content: "SERVICES";
}
#offer .offer_box {
  background-color: #f4f9ff;
  padding: 35px 35px 20px;
}
#offer .offer_box .offer_image img {
  width: 40px;
}

#gallery {
  padding: 130px 0;
}
#gallery .global-h::before {
  content: "GALLERY";
}
#gallery .gallery_box {
  position: relative;
}
#gallery .gallery_box:hover .country_name {
  opacity: 1;
  bottom: 45%;
  left: 50%;
}
#gallery .gallery_box:hover .ar-i {
  opacity: 1;
  bottom: 20px;
  right: 20px;
}
#gallery .gallery_box:hover:before {
  opacity: 0.8;
}
#gallery .gallery_box img {
  width: 100%;
}
#gallery .gallery_box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 104, 255, 0.8);
  transition: 1s;
  opacity: 0;
}
#gallery .gallery_box .country_name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
#gallery .gallery_box .ar-i {
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 20px;
  right: 0;
  opacity: 0;
  transition: 0.5s;
}
#gallery .gallery_box .ar-i i {
  color: black;
  padding: 18px;
  font-size: 12px;
}
#gallery .gallery_box .ar-i:hover {
  background-color: #212a42;
  transition: 0.5s;
}
#gallery .gallery_box .ar-i:hover i {
  color: white;
}

#package {
  padding-bottom: 100px;
}
#package .global-h::before {
  content: "PACKAGE";
}
#package .package_box {
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  border: 1px solid #ebe6de;
}
#package .package_box:hover {
  cursor: pointer;
}
#package .package_box:hover .package_price {
  background-color: #212a42;
  transition: 0.5s;
}
#package .package_box img {
  width: 100%;
  border-radius: 4px;
}
#package .package_box .package_content {
  padding: 20px 30px;
  background-color: white;
}
#package .package_box .package_content .star_icons {
  margin-top: 10px;
  margin-bottom: 15px;
}
#package .package_box .package_content .star_icons i {
  color: #fec42d;
  font-size: 12px;
}
#package .package_box .package_content #arrow {
  color: black;
}
#package .package_box .package_price {
  display: inline-block;
  height: 45px;
  background-color: #6168FF;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  right: 10px;
  bottom: 135px;
}
#package .package_box .package_price p {
  padding: 10px 18px 0;
  color: #fff;
}

#brands {
  background-color: #6168ff;
  width: 100%;
  padding: 80px;
}
#brands img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
}

#our_customers {
  padding-top: 130px;
}
#our_customers .global-h::before {
  content: "TESTIMONIALS";
}
#our_customers .customer_box {
  color: #333;
  padding: 40px 28px;
  background-color: #F4F9FF;
  border-radius: 4px;
}
#our_customers .customer_box .customer_image {
  position: relative;
  margin-bottom: 25px;
}
#our_customers .customer_box .customer_image img {
  width: 100px;
  border-radius: 50px;
}
#our_customers .customer_box .customer_image .quote {
  position: absolute;
  width: 40px;
  left: 200px;
  bottom: 0px;
  background-color: #6168FF;
  border-radius: 50px;
  padding: 8px 12px;
}
#our_customers .customer_box .customer_image .quote img {
  width: 18px;
}
#our_customers .customer_box .customer_content .all-title-p2 {
  font-size: 19px;
}
#our_customers .customer_box .customer_content .star_icons {
  margin-top: 10px;
}
#our_customers .customer_box .customer_content .star_icons i {
  color: #fec42d;
  font-size: 12px;
}

#posts {
  padding-top: 130px;
  padding-bottom: 100px;
}
#posts .all-content .global-h::before {
  content: "BLOG";
}
#posts .post_box {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  border: 1px solid #ebe6de;
  margin-bottom: 25px;
  position: relative;
}
#posts .post_box .post_image img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #ebe6de;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}
#posts .post_box .post_content {
  border: 1px solid #ebe6de;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  padding: 30px 30px 30px;
  background: white;
  width: 100%;
}

#contact_us {
  padding-bottom: 130px;
}
#contact_us .all-content .global-h::before {
  content: "CONTACT";
}
#contact_us .contact {
  background-color: #f4f9ff;
  padding: 55px 40px;
  border-radius: 4px;
}
#contact_us .contact .text-form {
  padding: 13px 23px;
  border-radius: 4px;
  background-color: #fff;
  border-color: #fff;
  border-width: 1px;
  margin-bottom: 30px;
  height: 45px;
  line-height: 45px;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  border-radius: 4px;
  border: 1px solid white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#contact_us .contact .contact-form {
  padding: 13px 23px;
  border-radius: 4px;
  background-color: #fff;
  border-color: #fff;
  border-width: 1px;
  margin-bottom: 30px;
  height: 200px;
  width: 100%;
}

#footer {
  padding: 280px 0 40px;
  background-color: #00102A;
  color: #fff;
  -webkit-clip-path: polygon(0 250px, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 250px, 100% 0, 100% 100%, 0% 100%);
}
#footer img {
  width: 150px;
  margin-bottom: 30px;
}
#footer p {
  font-weight: 200;
}
#footer p i {
  font-size: 20px;
}
#footer .footer-h {
  margin-bottom: 26px;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}
#footer .footer-a {
  display: inline-block;
  color: white;
  font-weight: 300;
  margin-bottom: 8px;
  font-size: 15px;
}
#footer input[type=email] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
#footer input[type=submit] {
  margin-top: 10px;
}
#footer input[type=submit]:hover {
  background-color: white;
  color: #212529;
}
#footer hr {
  margin-top: 30px;
}
#footer .footer-bottom {
  margin-top: 20px;
}
#footer .footer-bottom p {
  font-size: 15px;
  font-weight: 500;
}
#footer .footer-bottom .platforms-icon {
  margin-top: 30px;
  font-size: 18px;
}

.setting-fix {
  background-color: #6168ff;
  position: fixed;
  top: 220px;
  left: -5px;
  border-radius: 0 4px 4px 0;
}
.setting-fix i {
  font-size: 25px;
  padding: 12px 16px;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rocket {
  background-color: #6168FF;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
}
.rocket:hover {
  background-color: #212529;
  transition: 0.5s;
}
.rocket i {
  font-size: 14px;
  padding: 15px;
}/*# sourceMappingURL=style.css.map */